DATABASE_URL=YOUR_DB_URL

JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=NUMBER_OF_SALT_ROUNDS

NEXT_PUBLIC_PORTFOLIO_URL=YOUR_PORTFOLIO_URL
DASHBOARD_URL=YOUR_ADMIN_DASHBOARD_URL

# Initial admin seed only:
ADMIN_EMAIL=YOUR_ADMIN_EMAIL
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
ADMIN_NAME=YOUR_ADMIN_NAME

CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET

REVALIDATE_SECRET=REVALIDATE_SECRET_TO_SYNC_WITH_PORTFOLIO